spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: "root"
    password: "Kinoko@7"
    url: "jdbc:mysql://39.103.196.184:3306/TrainingOrg"
  mvc:
    view:
      prefix: /pages/
      suffix: .html
